*{
    margin:0;
    padding: 0;
}
body{
   background-image: url(Images/Lovepik_com-401727686-summer-refreshing-drink.png);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 40px;  
}

.delivform{
    width: 800px;
    background-color: rgb(0,0,0,6);
    margin: auto;
    color: #ffffff;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;

}
.main {
    background-color: rgb(0,0,0,0.5);
    width: 800px;
    margin: auto;
}
form{
    padding: 10px;
}
#name{
    width:50%;
    height: 100px;
}
.name{
    position: relative;
    left: 50px;
    top: 50px;
    line-height: 40px;
    width: 400px;
   border-radius: 6px;
     font-size: 24px;
    color: #ffffff;
}
.name input {
    color: #5f395c;
   
}

.email{
    position: relative;
    left: 50px;
    top: 60px;
    line-height: 40px;
    width: 400px;
   border-radius: 6px;
     font-size: 24px;
    color: #ffffff;
}
.contact{
    position: relative;
    left: 50px;
    top: 70px;
    line-height: 40px;
    width: 200px;
   border-radius: 6px;
     font-size: 24px;
    color: #f6f6f6;
}

.address{
    position: relative;
    left: 50px;
    top: 90px;
    line-height: 40px;
    width: 400px;
   border-radius: 6px;
     font-size: 24px;
    color: #efeded;
}
.checkbox{
    display: inline-block;
    padding-right: 70px;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 150px;
    color: white;
}
.checkbox input{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}
button{
    background-color: #5f395c;
    display: block;
    margin: 150px 0px 30px 250px;
    text-align: center;
    border-radius: 12px;
    border: 2x solid #366473;
    padding: 14px 110px;
    outline: none;
    color: rgb(254, 254, 254);
    cursor: pointer;
    transition: 0.25px;
    font-size: 14px;
   

}
button:hover{
    background-color: #5f395c;
}



